h1,
h2,
h3,
p {
  color: #fefefe;
}

.row {
  padding: 20px;
  background-color: #131313;
}

.contenedor {
  width: auto;
}

.parte1,
.parte2 {
  display: inline-block;
  text-align: justify;
}
.img-proyecto {
  box-shadow: 2px 2px 8px greenyellow;
}
