<div>

  <a href=""><img src="../../../assets/logo redes svg/linkedin-icon-2-logo-svgrepo-com.svg" alt=""></a>

  <a href=""><img src="../../../assets/logo redes svg/github-svgrepo-com.svg" alt=""></a>

  <a href=""><img src="../../../assets/logo redes svg/twitter-svgrepo-com.svg" alt=""></a>

  <a href=""><img
      src="../../../assets/logo redes svg/facebook-network-communication-internet-interaction-svgrepo-com.svg"
      alt=""></a>

  <a href=""><img src="../../../assets/logo redes svg/instagram-svgrepo-com.svg" alt=""></a>

</div>
