<div class="row">

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/logo redes svg/picde.jpg" class="img-fluid" id="fotodeperfil">
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Quiroga Laspiur Benjamín </p>
    <p id="titulo">Full Stack Developer Jr.</p>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span id="acerca">
      <h1>Acerca de mí </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt asperiores enim, corrupti dolor consectetur
        dolorem ipsa esse quis omnis sapiente. Minima dolores dolore exercitationem, sequi facere suscipit eius eum
        numquam!
      </p>
    </span>
  </div>

</div>
